// @import "tailwindcss/base"; try to get to work
@import "./node_modules/tailwindcss/base";
//@import "./custom-base-styles.css";

@import "./node_modules/tailwindcss/components";
//@import "./custom-components.css";

@import "./node_modules/tailwindcss/utilities";
//@import "./custom-utilities.css";

.w-collection{
  width: 210px !important;
}

.todo-item {
  transition: 0.2s ease-in-out;
  @apply border-l-4;

  &.active {
    @apply border-orange-500;
  }
  &.completed {
    @apply border-green-400 text-gray-600;
  }
}
  
.todo-item:hover {
  @apply ml-5;
}


.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}
.opac {
    background:rgba(0,0,0,0.5);
}
.bg-wurp {
    background: #efecea;
}
.bg-yurp {
    background: #f9c535;
}

.bg-reddish {
    background: #e04462;
}
.bg-black-alt {
    background: #191919;
}

.bg-yellow {
    background-color: #fcc81e;
}
.bg-black-alpha-30 {
    background-color: rgba(0, 0, 0, .3);
}
.text-yellow{
    color: #fcc81e !important;
    text-shadow: 0px 2px 3px #555;
}
.border-white{
    border-color: #efecea;
}
.sm\:w-45 {
    width: 45%;
}
.title {
  font: 84px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

 /**
.btn {
    @apply bg-teal-700 text-white text-sm border-none rounded font-bold p-3 mt-2;
}
.btn:hover {
    @apply bg-teal-900;
}
*/
  
//@import "./node_modules/tailwindcss/utilities";


.file-input {
  @apply inline-block w-1/2 ml-3 py-2 mb-6 text-left text-gray-300 border border-gray-800 bg-gray-600 relative cursor-pointer;
}

.file-input > [type='file'] {
  @apply absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer;
  z-index: 10;
}

.file-input > .button {
  @apply bg-blue-400 inline-block cursor-pointer p-2 ml-4 mr-2;
}

.file-input:hover > .button {
  @apply bg-blue-600 cursor-pointer;
}

.file-input > .label {
  @apply text-gray-100 cursor-pointer opacity-75 whitespace-no-wrap;
}

.file-input.-chosen > .label {
  @apply opacity-100;
}